<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>209720273814-9tmq3c256pagva16l421ng6q2uuqudru.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.209720273814-9tmq3c256pagva16l421ng6q2uuqudru</string>
	<key>API_KEY</key>
	<string>AIzaSyCrO1EBlY0xxn6zErnW09NBlUL5jBCQBIs</string>
	<key>GCM_SENDER_ID</key>
	<string>209720273814</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Ant.AnotherTry</string>
	<key>PROJECT_ID</key>
	<string>anothertry-44675</string>
	<key>STORAGE_BUCKET</key>
	<string>anothertry-44675.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:209720273814:ios:cc1e705790c0ca79e48bb7</string>
	<key>DATABASE_URL</key>
	<string>https://anothertry-44675-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>